.container {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
	background: linear-gradient(45deg, rgba(99, 165, 225, 0.5) 0%, rgba(99, 165, 225, 0.5) 14.286%,rgba(93, 143, 222, 0.5) 14.286%, rgba(93, 143, 222, 0.5) 28.572%,rgba(87, 120, 218, 0.5) 28.572%, rgba(87, 120, 218, 0.5) 42.858%,rgba(81, 98, 215, 0.5) 42.858%, rgba(81, 98, 215, 0.5) 57.144%,rgba(74, 75, 211, 0.5) 57.144%, rgba(74, 75, 211, 0.5) 71.43%,rgba(68, 53, 208, 0.5) 71.43%, rgba(68, 53, 208, 0.5) 85.716%,rgba(62, 30, 204, 0.5) 85.716%, rgba(62, 30, 204, 0.5) 100.002%),linear-gradient(135deg, rgb(128, 8, 46) 0%, rgb(128, 8, 46) 14.286%,rgb(134, 43, 72) 14.286%, rgb(134, 43, 72) 28.572%,rgb(140, 77, 97) 28.572%, rgb(140, 77, 97) 42.858%,rgb(147, 112, 123) 42.858%, rgb(147, 112, 123) 57.144%,rgb(153, 146, 149) 57.144%, rgb(153, 146, 149) 71.43%,rgb(159, 181, 174) 71.43%, rgb(159, 181, 174) 85.716%,rgb(165, 215, 200) 85.716%, rgb(165, 215, 200) 100.002%)
}
div#yak-chat-embended {
	width: 500px;
	height: 400px;
}