@media only screen and (max-width: 400px) {
	html, body {
		font-size: 1em !important;
	}
	yak-loby > div {
		grid-template-columns: 1fr 5em !important;
	}
	yak-loby > div.toggled {
		grid-template-columns: 1px 1fr !important;
	}
	.msg-head {
		font-size: 1.5em !important;
	}
	.login__form {
		padding: 0 !important;
	}
	input.bottom-input {
		font-size: 1rem !important;
	}
	.option-body {
		grid-template-columns: 1fr !important;
	}
}