msg-area {
	display: grid;
}

msg-area > div {
	display: grid;
}

.msg-body-container {
	position: relative;
}
.msg-body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: grid;
	padding: 0 50px 0 50px;
	overflow-y: auto;
	grid-row-gap: 15px;
}

div[class^="yak-view-item"] {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto;
	width: 60%;
	padding: 1em;
	color: #666;
}
.yak-view-item-right{
	background-color: rgba(24,144,255,0.7);
	place-self: center end;
	color: #fff !important;
	border-radius: 1em 0em 1em 1em;
}

.yak-view-item-left{
	background-color: rgba(0,0,0,.1);
	place-self: center start;
	border-radius: 0em 1em 1em 1em;
}

span.msg-date {
	font-size: 14px;
	padding-top: 10px;
	font-style: italic;
}


.msg-itinerary > img {
	width: 4em;
	height: auto;
	padding: 1em;
	background: rgba(0, 0, 0, .5);
	border-radius: 50%;
}

.msg-price {
	display: grid;
}

.msg-body > img.empty-state-img {
	height: 350px;
	width: auto;
	place-self: center;
}

.msg-body > .empty-state-text {
	justify-self: center;
	text-decoration: italic;
}

.msg-body > .empty-state-text {
	justify-self: center;
	font-style: italic;
	color: #666;
}