.msg-head {
	display: grid;
	grid-template-columns: 2fr 1fr;
	font-size: 2rem;
	background: linear-gradient(270deg, #56CCF2 27.97%, rgba(255, 255, 255, 0) 83.44%), #2F80ED;
	color: #ffffff;
	height: 100%;
}

.msg-head-logo {
	display: grid;
	grid-template-columns: .1fr 1fr;
	cursor: pointer;
	grid-column-gap: .3em;
	padding-left: 10px;
}

.msg-head-logo > span { 
	place-self: center start;
}

img.rblstck-logo {
	place-self: center;
	height: 1.5em;
	width: 1.5em;
}

.msg-head-actions {
	width: 10vw;
	place-self: end;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-right: 1em;
	grid-column-gap: .5em;
}

.msg-head-actions > img {
	place-self: center;
	font-size: 1.5rem;
	color: rgba(0,0,0,.5);
	cursor: pointer;
}

.msg-head-actions > img#logout {
	grid-area: 1 / 4
}

.msg-head-actions > img:hover {
	color: rgba(0,0,0,.7);
}

#header-channel>img {
	display: none;
}