yak-loby > div {
	height: 100%;
	display: grid;
	grid-template-columns: 22vw 1fr;
}

yak-loby > div.toggled {
	grid-template-columns: 1px 1fr;
}

.loby-side-menu {
	background-repeat: no-repeat;
	background-image: linear-gradient(rgb(104, 210, 255), rgb(0, 210, 55));
	width: 100%;
	transition: all 0.5s cubic-bezier(0.74, 0.11, 0.06, 0.75);
	font-size: 1rem;
}

.loby-side-menu.toggled {
	width: 0;
	visibility: hidden;
}

.loby-msg-body {
	display: grid;
	grid-template-rows: 60px 1fr 60px;
}
.msg-body-container {
	position: relative;
}
.msg-body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: grid;
	padding: 0 50px 0 50px;
	overflow-y: auto;
	grid-row-gap: 15px;
}

.msg-input {
	display: grid;
	grid-template-columns: auto 50px;
}

input.bottom-input {
	outline: none;
	border: none;
	height: 40px;
	width: calc(100% - 10px);
	align-self: center;
	justify-self: center;
	background: transparent;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	font-size: 1rem;
	color: rgba(0, 0, 0, 0.5);
}

input.bottom-input:focus { 
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.btn.icon {
	place-self: center;
	font-size: 2rem;
	color: #7d7d7d;
}

.msg-head {
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: 2rem;
}

.msg-head-logo {
	display: grid;
	grid-template-columns: .1fr 1fr;
	cursor: pointer;
	padding-left: 1em;
	grid-column-gap: .3em;
}

.msg-head-logo > span { 
	place-self: center start;
}

img.rblstck-logo {
	place-self: center;
	height: 1.5em;
	width: 1.5em;
}

.msg-head-actions {
	width: 10vw;
	place-self: end;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-right: 1em;
	grid-column-gap: .5em;
}

.msg-head-actions > img {
	place-self: center;
	font-size: 1.5rem;
	color: rgba(0,0,0,.5);
	cursor: pointer;
}

.msg-head-actions > img#logout {
	grid-area: 1 / 4
}

.msg-head-actions > img:hover {
	color: rgba(0,0,0,.7);
}

div[class^="yak-view-item"] {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto;
	width: 60%;
	padding: 1em;
	color: #666;
}
.yak-view-item-right{
	background-color: rgba(24,144,255,0.7);
	place-self: center end;
	color: #fff !important;
	border-radius: 1em 0em 1em 1em;
}

.yak-view-item-left{
	background-color: rgba(0,0,0,.1);
	place-self: center start;
	border-radius: 0em 1em 1em 1em;
}

span.msg-date {
	font-size: 14px;
	padding-top: 10px;
	font-style: italic;
}

img {
	height: 1em;
}
.send-message-icon {
	display: grid;
	align-items: center;
	justify-items: center;
}
.send-message-icon img {
	height: 30px;
	cursor: pointer;
}

#header-channel>img {
	display: none;
}