yak-loby > div {
	height: 100%;
	display: grid;
	grid-template-columns: 22vw 1fr;
}

yak-loby > div.toggled {
	grid-template-columns: 1px 1fr;
}

.loby-side-menu {
	background-repeat: no-repeat;
	background-image: linear-gradient(rgb(104, 210, 255), rgb(0, 210, 55));
	width: 100%;
	transition: all 0.5s cubic-bezier(0.74, 0.11, 0.06, 0.75);
	font-size: 1rem;
}

.loby-side-menu.toggled {
	width: 0;
	visibility: hidden;
}

.loby-msg-body {
	display: grid;
	grid-template-rows: 8vh 1fr 8vh;
}

.msg-body {
	display: grid;
	padding: 4vh 5vw;
	overflow-y: auto;
	max-height: 76vh;
	grid-row-gap: 2vh;
}

.msg-input {
	display: grid;
	grid-template-columns: 1fr 7vh;
	padding-bottom: 4px;
	padding: 0 10px 4px;
}

input.bottom-input {
	outline: none;
	padding: 10px;
	border: none;
	background: transparent;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	font-size: 1rem;
	color: rgba(0, 0, 0, 0.5);
	font-size: 2rem;
}

input.bottom-input:focus { 
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.btn.icon {
	place-self: center;
	font-size: 2rem;
	color: #7d7d7d;
}

.msg-head {
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: 2rem;
}

.msg-head-logo {
	display: grid;
	grid-template-columns: .1fr 1fr;
	cursor: pointer;
	padding-left: 1em;
	grid-column-gap: .3em;
	width: 10vw;
}

.msg-head-logo > span { 
	place-self: center start;
}

img.rblstck-logo {
	place-self: center;
}

.msg-head-actions {
	width: 10vw;
	place-self: end;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-right: 1em;
}

.msg-head-actions > i {
	place-self: center;
	font-size: 1.5rem;
	color: rgba(0,0,0,.5);
	cursor: pointer;
}
.msg-head-actions > i:hover {
	color: rgba(0,0,0,.7);
}

div[class^="yak-view-item"] {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto;
	width: 60%;
	padding: 1em;
	color: #666;
}
.yak-view-item-right{
	background-color: rgba(24,144,255,0.7);
	place-self: center end;
	color: #fff !important;
	border-radius: 1em 0em 1em 1em;
}

.yak-view-item-left{
	background-color: rgba(0,0,0,.1);
	place-self: center start;
	border-radius: 0em 1em 1em 1em;
}

span.msg-date {
	font-size: 14px;
	padding-top: 10px;
	font-style: italic;
}