yak-loby > div {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
}

yak-loby > div.toggled {
	grid-template-columns: 1fr;
}

.loby-side-menu {
	background: #2F80ED;
	transition: all 0.5s cubic-bezier(0.74, 0.11, 0.06, 0.75);
	font-size: 1rem;
	max-height: 100vh;
	position: fixed;
	width: 22vw;
	height: -webkit-fill-available;
}

.loby-side-menu.toggled {
	width: 0;
	visibility: hidden;
}

.loby-msg-body {
	display: grid;
	grid-template-rows: 60px 1fr 60px;
	width: 78vw;
	margin-left: auto;
	transition: all .5s cubic-bezier(0.65, 0.07, 0.01, 0.99);
}
.toggled > .loby-msg-body {
	width: 100vw;
	transition: width .5s cubic-bezier(1, 0.08, 0, 1.07);
}

img {
	height: 1em;
}
