yak-loby > div {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
}

yak-loby > div.toggled {
	grid-template-columns: 1fr;
}

.loby-side-menu {
	background-repeat: no-repeat;
	background-image: linear-gradient(rgb(104, 210, 255), rgb(0, 210, 55));
	transition: all 0.5s cubic-bezier(0.74, 0.11, 0.06, 0.75);
	font-size: 1rem;
	max-height: 100vh;
	position: fixed;
	width: 22vw;
	box-shadow: 1px 0px 5px 0px #d9d9d9;
	height: -webkit-fill-available;
}

.loby-side-menu.toggled {
	width: 0;
	visibility: hidden;
}

.loby-msg-body {
	display: grid;
	grid-template-rows: 60px 1fr 60px;
	width: 78vw;
	margin-left: auto;
	transition: all .5s cubic-bezier(0.65, 0.07, 0.01, 0.99);
}
.toggled > .loby-msg-body {
	width: 100vw;
	transition: width .5s cubic-bezier(1, 0.08, 0, 1.07);
}

.msg-input {
	display: grid;
	grid-template-columns: auto 2rem 2rem;
}

input.bottom-input {
	outline: none;
	border: none;
	height: 40px;
	width: calc(100% - 10px);
	align-self: center;
	justify-self: center;
	background: transparent;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	font-size: 1rem;
	color: rgba(0, 0, 0, 0.5);
}

input.bottom-input:focus { 
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.btn.icon {
	place-self: center;
	font-size: 2rem;
	color: #7d7d7d;
}

img {
	height: 1em;
}
.send-message-icon, .shopping-icon {
	display: grid;
	align-items: center;
	justify-items: center;
}
.send-message-icon img, .shopping-icon img {
	height: 23px;
	cursor: pointer;
}

