yak-header{
	display: grid;
	color: inherit;
}
.yak-header-items {
	place-self: center;
	display: grid;
	grid-template-columns: 1fr 6em;
	width: 100%;
}

.user-options {
	position: absolute;
	display: grid;
	width: 35%;
	border: 1px solid #d3d3d3;
	background-color: #d3d3d3;
	text-align: center;
	box-shadow: 0 0px 3px 1px #6666;
	border-radius: 4px 0em 4px 4px;
	color: #666;
}

.user-options.green {
	background-color: #7bce7e;
	box-shadow: 0 0px 3px 1px #5b9e5e;
	border-color: #7bce7e;
	color: #000;
}
.user-options > span { 
	cursor: pointer;
}

.user-options > span:hover { 
	color: #fff !important; 
}

.yak-header-items > span{
	padding-left: 2vw;
}

div[class^="user-actions"] {
	font-size: 20px;
	place-self: center;
	cursor: pointer;
	grid-column-gap: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.user-actions-re {
	color: #7bce7e;
}

.hide {
	display: none;
}