/* FONT FAMILY ROBOTO */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,light');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html, body {
	height: 100%;
	background-color: #f9f8f8;
}

* {
	margin: 0;
	padding: 0;
	font-family: Roboto;
}
#container {
	width: 100%;
	height: 100%;
	place-self: center;
	display: grid;
	grid-template-rows: 2em 1fr 3em;
	padding: 0em 0em 1em 0em;
	grid-row-gap: 0.5em;
	border-radius: 1.5em;
	border: 1px solid #d3d3d3;
}

yak-main-container{
	display: grid;
	height: 100%;
}

.no-border {
	border: none !important;
}

.hide {
	display: none !important;
}

.btn {
	place-self: center;
	padding: 1em;
	border-radius: 2em;
	cursor: pointer;
}

.btn.primary {
	color: #fff;
	background-color: #1890ff;
	border-color: #1890ff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
	-webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.045);
	box-shadow: 0 2px 0 rgba(0,0,0,0.045);
}

.btn.primary:hover {
	color: #fff;
	background-color: #40a9ff;
	border-color: #40a9ff;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}