.option-body {
	padding: 10px;
	color: #666666;
}

.option-body h2 {
	padding-bottom: 1em;
}

.option-body i {
	padding: .5em;
	cursor: pointer;
	color: #1890ff;
}

.option-body i:hover {
	color: #40a9ff;
}

.set-new-pass {
	display: grid;
	grid-row-gap: .5em;
}

.set-new-pass > input {
	padding: .5em;
	outline: none;
	border: 1px solid #d3d3d3;
	border-radius: 3px;
}

.set-new-pass > button {
	height: 6vh;
	font-size: 1em;
}

.client-action-settings {
	display: grid;
	grid-row-gap: 10px;
	margin-bottom: 10px;
}

.client-storage-settings {
	display: grid;
	grid-row-gap: 10px;
}