
.login__container {
	display: flex;
	height: 100vh;
	flex-wrap: wrap;
  justify-content: center;
	align-content: center;
	background-repeat: no-repeat;
	background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
	margin: 0;
	font-size: 1.5rem;
	padding: 2rem;
	color: #1890ff;
}

.login__form {
	padding: 2em;
  padding-bottom: 3em;
  max-width: 400px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.login__title {
	text-align: center;
	color: #fff;
}

.login__logo-box {
	text-align: center;
}

.login__form input {
	font-size: 1.5rem;
  color: #384047;
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  border: none;
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 1.2em;
	width: 100%;
}

.login__formcontent {
	margin-top: 1rem;
}

.login__formcontent  input[type="submit"] {
  background-color: #1890ff;
  color: #eee;
  font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}

.login__formcontent input[type="submit"]:focus, .login__formcontent input[type="submit"]:hover {
  background-color: #065eaf;
}

.login__forgot-box {
	text-align: center;
}

.login__forgot-box a:link, .login__forgot-box a:visited {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #fff;
	cursor: pointer;
	display: inline-block; 
	padding: 3px;
	transition: all .2s;
}

.login__forgot-box a:hover{
	transform: translateY(-2px);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, .15);
}

.login__forgot-box a:active  {
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
	transform: translateY(0);
}


.login__formcontent  input:focus {
  outline: none;
}