yak-login > div {
	height: 100%;
	background-repeat: no-repeat;
	background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
	display: grid;
	grid-template-rows: 25vh 7vh 7vh;
	grid-row-gap: 1vh;
}

input.login-input {
	width: 20vw;
	place-self: center;
	height: 50%;
	padding: 10px;
	border: 1px solid #ced4da;
	border-radius: .25rem;
}

div.login-logo {
	width: 8vw;
	height: 25vh;
	place-self: end center;
	background: url(/images/logo.png) no-repeat;
	background-size: 90%;
	background-position: bottom;
}