yak-sidebar.loby-side-menu > div {
	display: grid;
	grid-template-rows: 20vh 8vh 1fr;
	padding: 1em;
	grid-row-gap: 1.3em;
	font-size: 1.5em;
}

input.search-input {
	height: 100%;
	width: 78%;
	background: transparent;
	border: none;
	padding-left: 1.5em;
	color: #ffffff;
	outline: none;
}

.search-box {
	background: rgba(255,255,255,.2);
	border-radius: 4px;
	color: #fff;
	display: grid;
	grid-template-columns: 1fr auto;
}

.search-box > img {
	place-self: center;
	align-self: center;
	margin: .3em;
}

.channel-box ul {
	padding: .5em 2em;
	list-style-type: none;
	height: auto;
	opacity: 1;
	transition: all .2s ease-in;
}

.channel-box ul > li {
	color: #1890ff;
	cursor: pointer;
}

.channel-box ul > li:hover {
	color: #40a9ff;
}

.collapse > ul {
	height: 0;
	opacity: 0;
	display: none;
}

span.chnl-title {
	cursor: pointer;
	color: #e2e2ec;
	display: grid;
	grid-template-columns: auto auto;
}

.chnl-title:hover {
	color: #fff;
}

span.chnl-title > i {
	padding-left: .5em;
}

.chnl-title img {
	height: 20px;
	align-self: center;
}



.channel-box {
	display: grid;
	grid-row-gap: 1em;
	overflow-y: auto;
	overflow-x: hidden;
	grid-area: 3;
}

img.profile-img {
	height: auto;
	justify-self: center;
	align-self: center;
	border-radius: 50%;
	cursor: pointer;
	width: 120px;
	background: rgba(255,255,255,.2);
}

.side-profile {
	display: grid;
}

span#user-name {
	text-align: center;
	color: #fff;
	font-size: 16px;
}

ol#threads {
	max-height: 300px;
	overflow-y: auto;
}

.thread-item {
	list-style: none;
	margin: .5em 0;
	color: #e2e2ec;
	cursor: pointer;
	text-align: left;
	display: grid;
	font-size: 20px;
	border-radius: 4px;
	position: relative;
}

.thread-item:not(:last-child) > span {
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.thread-item:hover {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.1);
}

.thread-item:not(:last-child):hover > span {
	border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.thread-item > span {
	display: inline-block;
	width: 100%;
	padding: 0 0 0 10px;
	font-size: 14px;
	font-style: italic;
	margin-bottom: 2px;
}

.thread-item > .bottom {
	display: grid;
	grid-template-columns: 1fr 30px;
}

.thread-item > img {
	position: absolute;
	top: 0;
	right: 0;
}

select#channel-select {
	height: 6vh;
	background: rgba(255, 255, 255, .6);
	outline: none;
	border: none;
	color: #666;
	padding: .5em 1em;
	border-radius: 3px;
}

#sidebar-content {
	opacity: 1;
	transition: opacity .3s ease-out;
}

yak-sidebar.loby-side-menu.toggled > #sidebar-content {
	opacity: 0;
	transition: opacity .3s ease;
}

img.mobile-only {
	position: fixed;
	left: 73%;
	top: 3%;
	opacity: 0;
}

img.flag {
	width: 30px;
	height: 30px;
	padding: 5px;
	border-radius: 50%;
}

