@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('./responsive.css');
/*only for crhome*/
::-webkit-scrollbar {
	width: 8px;
	background: rgba(0, 0, 0, 0);
	border-radius: 3px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0); 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, .5);
	border: 1px solid #d3d3d3;
	border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}

@font-face {
	font-family: 'Lato Regular';
	src: url('../fonts/Lato/Lato-Regular.ttf');
}

:root {
  --error-validation-color: #ff8080;
}

* {
	font-family: 'Lato Regular';
}

html, body {
	height: 100%;
	background-color: #f9f8f8;
	box-sizing: border-box;
	font-family: Roboto;
	overflow: hidden;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

.btn {
	border-radius: .25em;
	border: none;
	cursor: pointer;
	outline: none !important;
}

.btn.primary {
	color: #fff;
	background-color: #1890ff;
	border-color: #1890ff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
	-webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.045);
	box-shadow: 0 2px 0 rgba(0,0,0,0.045);
}

.btn.primary:hover {
	color: #fff;
	background-color: #40a9ff;
	border-color: #40a9ff;
}

.btn, .inp {
	border-radius: 4px;
	text-align: center;
	padding: 10px;
	min-width: 100px;
	cursor: pointer;
}
.btn.light, .inp.light {
	background: #fff;
	border: 1px solid #ccc;
	color: gray;
}