/*@media only screen and (max-width: 400px) {
	html, body {
		font-size: 1em !important;
	}
	yak-loby > div {
		grid-template-columns: 1fr 5em !important;
	}
	yak-loby > div.toggled {
		grid-template-columns: 1px 1fr !important;
	}
	.option-body {
		grid-template-columns: 1fr !important;
	}
}
*/
@media only screen and (max-width: 400px) {
	.profile-popup-container > div {
		width: 95vw !important;
	}
	yak-sidebar.loby-side-menu {
		width: 83vw;
		z-index: 2;
	}
	img.mobile-only {
		opacity: 1 !important;
	}
	.msg-head-actions {
		place-self: center !important;
	}
	.msg-head {
		font-size: 1.5em !important;
	}
	.login__form {
		padding: 0 !important;
	}
	input.bottom-input {
		font-size: 1rem !important;
	}
	span#header-channel {
		font-size: 14px;
	}
}